body{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    overflow-x: hidden;
    position: relative;
    margin: 0;
    background: #0f0f0f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-img{
    background-image: url(assets/c-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 31em;
}

.darker-bg-img{
    position: absolute;
    /*bottom: 21.5em;*/
    background: rgba(0, 0, 0, 50%);
    border: 1px solid black;
    width: 100%;
    height: 31em;
}

.logo {
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 0 13px #3949ab);
    justify-self: flex-end;
    /* align-self: flex-end; */
    /* margin-left: 3em; */
    /* box-shadow: 0 0 10px 1px rgb(0, 153, 255); */
}

p{
    color: #aaaaaa;
}

img{
    width: 50px;
    height: 50px;
}


.search-page-bg {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid white; */
    background: rgba(0, 0, 0, 50%);
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    z-index: 4;
}

/* .input-lang{
    width: 200px;
    transform: translateX(41em);
    /* width: 30em; 
    padding-left: 1em;
    height: 45px;
    border: 2px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
    background: #111111;
    color: white;
    border-radius: 70px;
    font-size: 20px;
    outline: none;
    transition: 0.9s all;
} */

.input-lang-change-position{
    width: 30em;
    transform: translateX(0);
}


.exit {
    position: absolute;
    right: 0;
    top: 0;
    justify-self: end;
    align-items: end;
}

.search-page{
    background: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
    border-radius: 10px;
    width: 39em;
    height: 70vh;
    overflow: hidden;
    margin-top: 5em;
    margin-left: 2.5em;
    z-index: 1444;
}

.search-page .info a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 7em;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #5c6bc0;
    transition: 0.1s;
}

.search-page .info a:hover{
    box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
}

.search-page .info a p, .search-page .info a img{
    margin-top: 10px;
}


header{
    display: flex;
    position: fixed;
    /* top: 20px; */
    left: 0;
    right: 0;
    z-index: 2; 
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    background: #111111;
    border-bottom: 1px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0;
    flex-direction: row;
    /* border: 1px solid black; */
}

.first-part-of-header {
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 15em;
    align-items: center;
}

header button{
    justify-self: start;
    /* position: absolute; */
    /* top: 0; */
    /* left: 20px; */
    width: 70px;
    height: 60px;
    z-index: 1;
    border: 1px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0;
    /* background: grey; */
    /* margin-right: 20em; */
}

header button:focus{
    outline: none;
}

.bg-btn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    width: 100px;
    height: 50px;
    border: 2px solid white;
    box-shadow: 0 0 10px 2px white inset;
    border-radius: 70px;
    background: #111111;
    margin-left: 1em;
    color: #5c6bc0;
    font-size: 20px;
}

.three-lines-before{
    transition: 0.1s;
    border: 2px solid white;
    border-radius: 10px;
    width: 1em;
    gap: 10px;
    margin: 0.5px 0;
    height: 0.2em;
}


.three-lines{
    box-shadow: 0 0 10px 1px white;
}

.three-lines-color{
    box-shadow: 0 0 10px 1px #5c6bc0;
    border: 2px solid #5c6bc0;
}

.bg-btn1:hover {
    box-shadow: 0 0 10px 2px white inset, 0 0 10px 1px white;
}



.comp-page {
    margin-right: 1em;
    width: 8em;
}

.bg-btn2 {
    border: 2px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
}

.bg-btn2:hover {
    box-shadow: 0 0 10px 2px #5c6bc0 inset;
}

.input-lang{   /*.exit*/
    transition: 0.1s;
    /* position: fixed; */
    /* justify-self: center; */
    border: 2px solid white;
    text-align: start;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 70px;
    /* margin-right: 1em; */
    background: #111111;
    box-shadow: 0 0 10px 2px white inset;
    outline: none;
    width: 30em; 
}

.input-lang:focus, .input-lang:hover{
    border: 2px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
    
}

.input-lang-change:focus{
    width: 200px;
    /* transform: translateX(41em); */
    width: 30em; 
    padding-left: 1em;
    height: 45px;
    border: 2px solid #5c6bc0;
    box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
    background: #111111;
    color: white;
    border-radius: 70px;
    font-size: 20px;
    outline: none;
    transition: 0.9s all;
}

.open-search-page:hover {
    box-shadow: 0 0 10px 2px white inset, 0 0 10px 1px white;
}


.dark-bg-off{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 50%);
    left: 0;
    right: 0;
    /* width: 100%; */
    height: 150%;
    z-index: 1;
}

.dark-bg-on{
    display: block;
}

.left-bar {
    transform:translateX(-25em);
    display: flex;
    position: fixed;
    flex-direction: column;
    background: #222222;
    top: 60px;
    width: 25em;
    height: 100%;
    z-index: 2;
    transition: all 0.2s;
    overflow-y: scroll;
    
    /* padding: 40px; */
}

a{
    text-decoration: none;
}

.left-bar a{
    background: #292929;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 15px;
    /* border-bottom: 10px solid w; */
    margin: 15px 30px;
    transition: 0.2s all;
}

.left-bar a p{
    margin: 0 0 0 50px;
    font-size: 30px;
}

.left-bar a:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px #353535;
    background: #353535;
}

.right-bar {
    transform: translateX(0);
}

#compare {
    border: 4px solid rgb(223, 223, 223);
}

#c {
    box-shadow: 0 0 10px 2px #3949ab;
    background: #353535;
}

#c:hover {
    transform: translateY(0);
}

#cpp:hover {
    box-shadow: 0 0 10px 2px #0080cd;
}

#csharp:hover {
    box-shadow: 0 0 10px 2px #390091;
}

#java:hover {
    box-shadow:  0px -4px 10px 1px #0a6eb6, 0 4px 10px 1px #e11e21;
}

#javascript:hover {
    box-shadow: 0 0 10px 2px #ffd800;
}

#php:hover {
    box-shadow: 0 0 10px 2px #777bb3;
}

#kotlin:hover {
    box-shadow:  0px -4px 10px 1px #7700ff, 0 4px 10px 1px #ff9900;
}

#rust:hover {
    box-shadow: 0 0 10px 2px #ffffff;
}

#swift:hover {
    box-shadow: 0 0 10px 2px #de8135;
}

#ruby:hover {
    box-shadow: 0 0 10px 2px #ec1622;
}

#python:hover {
    box-shadow:  0px -4px 10px 1px #377ef0, 0 4px 10px 1px #f8c63d;
}

#go:hover {
    box-shadow: 0 0 10px 2px #2dbcaf;
}

#scala:hover {
    box-shadow: 0 0 10px 2px #bc0000;
}

#objective-c:hover {
    box-shadow: 0 0 10px 2px #f1592a;
}

main {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 2.5em; */
    /* align-items: center; */
}

/* .bg-of-img {
    position: absolute;
    border: 1px solid white;
    z-index: -1;
    width: 3em;
    height: 3em;
    left: 3.7em;
    border-radius: 40px;
    box-shadow: 0 0 5em 2em rgb(0, 153, 255);
} */

.fast-info{
    display: flex;
    position: relative;
    left: 0;
    right: 1px;
    width: 99%;
    height: 20em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #3949ab;
    box-shadow: 0 0 10px 1px #3949ab;
    border-radius: 5px;
    
}

.fast-info > div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 58em;
    /* border: 1px solid white; */
}

.main-information {
    display: flex;
    position: relative;
    /* left: 60px;
    right: 60px; */
    width: 97%;
    height: 20em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #3949ab;
    box-shadow: 0 0 10px 1px #3949ab;
    border-radius: 5px;
    margin-bottom: 0.5em;
    padding: 40px 20px;
    text-align: center;

}

.vs-info {
    height: 8em;
}

.short{
    width: 97%;
    display: flex;
    /* background: green; */
    flex-direction: row;
    /* justify-content: space-around; */
}

.short-hide {
    display: none;
}

.compare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.compare div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.buttons-lang{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 10em;
    height: 100%;
}

.category{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 3em;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    height: 30em;
    /* flex-direction: column; */
}

.category img{
    width: 150px;
    height: 150px;
}

.category p {
    flex-wrap: nowrap;
}

.btn-lang {
    background: #292929;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    /* padding: 15px; */
    width: 90%;
    /* height: em; */
    outline: none;
    /* border-bottom: 10px solid w; */
    margin: 15px 30px;
    transition: 0.2s all;
}

.btn-lang:hover {
    /* border: 1px solid #3949ab; */
    box-shadow: 0 0 10px 3px #3949ab;
}

.find-info {
    width: 50%;
}

.btn-lang a {
    display: flex;
    color: #aaaaaa;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    /* padding: 10px 30px; */
    width: 40em;
    height: 2em;
    /* height: 4em; */
}

.hide-input-info{
    display: none;
    /* visibility: hidden; */
}

main p{
    /* text-align: center; */
    /* margin-left: 2.5em; */
}
/* 
.bg-of-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131313;
    box-shadow: 0 0 10px 3px #3949ab;
    border: 1px solid #3949ab;
    background: #131313;
    border-radius: 20px;
    width: 45em;
    height: 12em;
    /* margin-top: 40px;     
}

.grid div, .grid div p{
    border: 0.1px solid #c5c5c5;
}

.grid div:first-child{
    border-radius: 10px 10px 0 0;
}

.grid div:last-child{
    border-radius: 0 0 10px 10px ;
}

.grid div:first-child p{
    border: none;
}

.grid div:last-child p:first-child{
    border-radius: 0 0 0 10px;
}

.grid div:last-child p:last-child{
    border-radius: 0 0 10px 0;
}

.grid div:last-child p{
    font-size: 30px;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 


.grid div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 40em;
    height: 2.5em;
}

.grid div p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    width: 20em;
} */

.c {
    border-bottom: 3px solid #cfcfcf;
}

h1 {
    color: #d3d3d3;
}

main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

main img {
    width: 20em;
    height: 20em;
}

.syn {
    align-self: center;
    height: 13em;
    width: 60em;
    border-radius: 8px;
}
/* 
.dif {
    display: flex;
    flex-direction: column;
    width: 70em;
    height: 30em;
    align-items: center;
    justify-content: center;
    background: #131313;
    box-shadow: 0 0 3em 1em #131313;
    border-radius: 25px;
} */

/* .dif {
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid white; 
    background: #131313;
    box-shadow: 0 0 3em 1em #3949ab;
    border-radius: 10px;
    width: 98%;
}

.hide-info {
    display: none;
}

.show-info {
    display: block;
}

.diff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-top: -2.5em;
    width: 90%;
    height: 30em;
    padding: 0 5em; 

}

.check {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30em;
    height: 8em;
    margin-left: 9em;
}

.check div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20em;
}

.check div h1 {
    font-size: 50px;
} */

.hide-info {
    display: none;
}

#languages {
    position: absolute;
    left: 12em;
    width: 5em;
    padding: 0.4em 0;
    /* height: 2em; */
    background: #353535;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.1s all;
    overflow: hidden;
}

#languages:hover, #languages:focus {
    box-shadow: 0 0 3em 0.5em #3949ab;
}

#languages:focus{
    margin-top: 10em;
    
}

#languages option {
    border-radius: 10px;
    overflow: hidden;
    
}

#languages option:hover{
    background-color: rgba(0, 153, 255, 50%) !important;
}

/* .comparison {
    width: 10em;
    padding: 15px 0;
    font-size: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #313131;
    border: 3px solid #3949ab;
    transition: 0.1s all;
}

.comparison:hover {
    box-shadow: 0 0 40px 1px #3949ab;
}

.comparison a {
    border-radius: 10px;
    padding: 15px 84px;
    color: white;
}

/* #languages option:hover, #languages option:checked {
    box-shadow: 0 0 10px 100px #252525 inset;
    /* height: 20rem;
} */

.grid2 {
    display: grid;
    /* margin-bottom: 5em; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid white;
    border-radius: 0 20px 0 25px ;
    box-shadow: -0.5em 0.5em 1em 1px white;
    /* align-self: flex-end; */
    /* justify-self: end; */
    height: 25em;
    width: 50em;
}

.grid2 div {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
    border: 1px solid white;
    border-radius: 0 20px 0 0;
}

.grid2 div div {
    display: flex;
    flex-direction: row;
}

.grid2 div p{
    height: 6em;
    width: 8.2em;
    text-align: center;
}

.grid2 div p:first-child{
    grid-column-start: 1;
    grid-column-end: 6;
}

.lang {
    border-radius: 0 0 0 20px;
}

.grid2 p{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 10em;
    height: 10em; */
    margin: 0;
}

.grid2 div:first-child {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px solid white;
}

.grid2 div:first-child p:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid2 p {
    border: 1px solid white;
}


.grid2 p:first-child{
    grid-row-start: 1;
    grid-row-end: 3;
    border: none;
    /* height: 15em; */
}

.comp-info-off {
    display: flex;
}

.comp-info-on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* text-align: center; */
    font-size: 30px;
    width: 40em;
}

/* .grid2 p:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
} */

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* .result .grid:first-child{
    margin-bottom: 2em;
} */ */

.no-display{
    display: none;
}

footer{
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    background: black;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh;
    margin-top: 5em;
}

@media screen and (max-width: 1900px) {
    body{
        /* background: green; */
    }

    header{
        gap: 3px;
        background: #111111;
        border-bottom: 1px solid #5c6bc0;
        box-shadow: 0 0 10px 2px #5c6bc0;
        flex-direction: row;
    }
    
    /* .first-part-of-header {
        justify-self: flex-start;
        display: flex;
        justify-content: space-between;
        width: 15em;
        align-items: center;
    } */

    .search-page{
        width: 35em;
        margin-top: 4em;
        margin-left: 7.5em;
    }
    
    .bg-btn1 {
        width: 90px;
        height: 40px;
        font-size: 14px;
    }
    
    .three-lines-before{
        width: 1.3em;
        height: 3px;
    }
    
    .bg-btn2 {
        border: 2px solid #5c6bc0;
        box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
    }

    .input-lang{
        font-size: 14px;
        height: 40px;
        width: 35em; 
    }

    main {
        font-size: 25px;
    }

    .category{
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
    
    .category img{
        width: 100px;
        height: 100px;
    }
    
    .category p {
        flex-wrap: nowrap;
    }

    .find-info {
        width: 50%;
    }
}

@media screen and (max-width: 1700px) {
    body{
        /* background: green; */
    }

    header{
        gap: 3px;
        background: #111111;
        border-bottom: 1px solid #5c6bc0;
        box-shadow: 0 0 10px 2px #5c6bc0;
        flex-direction: row;
    }
    
    /* .first-part-of-header {
        justify-self: flex-start;
        display: flex;
        justify-content: space-between;
        width: 15em;
        align-items: center;
    } */

    .search-page{
        width: 30em;
        margin-top: 4em;
        margin-left: 8em;
    }
    
    .bg-btn1 {
        width: 80px;
        height: 35px;
        font-size: 13px;
    }
    
    .three-lines-before{
        width: 1.2em;
        height: 3px;
    }
    
    /* .bg-btn2 {
        border: 2px solid #5c6bc0;
        box-shadow: 0 0 10px 2px #5c6bc0 inset, 0 0 10px 2px #5c6bc0;
    } */

    .input-lang{
        font-size: 13px;
        height: 35px;
        width: 35em; 
    }

    main {
        font-size: 20px;
    }

    .category{
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    
    .category img{
        width: 80px;
        height: 80px;
    }
    
    .category p {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1400px) {
    body{
        justify-content: center;
        align-items: center;
        align-content: center;
        /* overflow-y: hidden; */
    }

    .search-page-bg{
        padding-top: 6em;
    }

    .search-page{
        /* margin-top: 10em; */
        width: 90%;
        height: 80%;
        margin: 0;
    }

    .logo{
        width: 200px;
        height: 200px;
    }

    .bg-img h1 {
        font-size: 25px;
    }

    .left-bar {
        transform:translateX(-100%);
        display: flex;
        position: fixed;
        flex-direction: column;
        background: #222222;
        top: 60px;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.2s;
        overflow-y: scroll;
        
        /* padding: 40px; */
    }
    
    a{
        text-decoration: none;
    }
    
    .left-bar a{
        background: #292929;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 10px;
        /* text-align: center; */
        padding: 4%;
        /* border-bottom: 10px solid w; */
        margin: 15px 30px;
        transition: 0.2s all;
    }
    
    .left-bar a p{
        margin: 0 0 0 50px;
        font-size: 20px;
    }
    
    .left-bar a:hover{
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px #353535;
        background: #353535;
    }
    
    .left-bar a:first-child{
        display: flex;
        flex-direction: row;
        border-bottom: 4px solid rgb(223, 223, 223);
        /* margin: 30px; */
    }
    
    .right-bar {
        transform: translateX(0);
    }

    main {
        font-size: 15px;
    }

    main h1{
        font-size: 20px;
    }

    .main-information {
        display: flex;
        position: relative;
        /* left: 60px;
        right: 60px; */
        width: 85%;
        height: 30em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #3949ab;
        box-shadow: 0 0 10px 1px #3949ab;
        border-radius: 5px;
        margin-bottom: 0.5em;
        padding: 40px 20px;
        text-align: center;
    
    }

    .bg-btn1{
        margin: 0;
        border-radius: 5px;
        width: 5em;
        height: 4em;
    }
    
    .vs-info {
        height: 8em;
    }

    .input-lang {
        width: 6em;
        height: 1.5em;
        font-size: 30px;
    }

    .phone-size:focus{
        width: 100%;
    }

    .comp-page{
        display: none;
    }
    
    .short{
        width: 85%;
        height: 200em;
        display: flex;
        /* background: green; */
        flex-direction: column;
        /* justify-content: space-around; */
    }
    
    .short-hide {
        display: none;
    }
    
    .compare {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        height: 40em;
    }
    
    .compare div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .buttons-lang{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100px;
        height: 30em;
    }
    
    .category{
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* justify-content: center; */
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;
        margin: 10px 3em;
        font-size: 18px;
        padding: 10px;
        width: 90%;
        height: 60em;
        /* flex-direction: column; */
    }
    
    .category img{
        width: 150px;
        height: 150px;
    }
    
    .category p {
        flex-wrap: nowrap;
    }
    
     .btn-lang {
        background: #292929;
        padding: 30px 0; 
        /* width: 90%; */
    }
    
    .btn-lang:hover {
        /* border: 1px solid #3949ab; */
        box-shadow: 0 0 10px 3px #3949ab;
    }
    
    .find-info {
        display: block;
        text-align: center;
        padding: 0;
        width: 90%;
        height: 2em;
        font-size: 30px;
        margin-bottom: 1em;
    }

    .syn {
        height: 4em;
        width: 20em;
    }
    
    .btn-lang a {
        display: flex;
        color: #aaaaaa;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
        /* padding: 10px 30px; */
        width: 40em;
        height: 2em;
        /* height: 4em; */
    }
}
